nav {
  /* tomas update
  float:right!important;*/
  border-radius:8px!important;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a:link,
nav a:visited {
  color: #f0f0f0;
  text-decoration: none;
}

nav li li a:link,
nav li li a:visited {
  color: #303030;
  text-decoration: none;
  padding: 6px 8px;
}

nav a {
  display: block;

}

nav li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  float: left;
  background-color: #393b3e;
  color:#f0f0f0 !important;
  margin-right: 0px;
  position: relative;
  padding: 0.9em;
}

nav li li{
  width: 160px;
  z-index:4;
  background-color:#f0f0f0;
  padding: 0;
}

nav li:hover {
  background-color: #55afff;
}
nav li li:hover {
  background-color: #757575;
}


nav ul ul  {
  position: absolute;
  visibility: hidden;
}

nav ul ul ul{
  position: absolute;
  right: 100%;
  top: -2px;
  border: solid 1px transparent;
}

nav li:hover > ul {
  visibility: visible;
}

body {
  line-height: 1.5;
  font-size:15px;
  margin:0;
}

.vf-black {
  color:#fff!important;
  background-color:#000!important;
}
.vf-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.vf-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.w3-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.vf-sand{color:#000!important;background-color:#fdf5e6!important}
.vf-card-2{}
.vf-white{color:#000!important;background-color:#fff!important}
.vf-right-border{
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.

/* Animations */
@keyframes SlideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes SlideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-slide-in-right.au-enter {
  transform: translateX(100%);
}

.animate-slide-in-right.au-enter-active {
  animation: SlideInRight 1s;
}

.animate-slide-out-right.au-leave-active {
  animation: SlideOutRight 1s;
}

.animate-slide-in-left.au-enter {
  transform: translateX(-100%);
}

.animate-slide-in-left.au-enter-active {
  animation: SlideInLeft 1s;
}

.animate-slide-out-left.au-leave-active {
  animation: SlideOutLeft 1s;
}

.animate-fade-in.au-enter {
  opacity: 0;
}

.animate-fade-in.au-enter-active {
  animation: FadeIn 1s;
}

.animate-fade-out.au-leave-active {
  animation: FadeOut 1s;
}

/* from old version 1.0 CSS */

.handsontable {
  float: left;
  width: 100%;
  font-size: 0.8em;
  overflow: hidden;
}

textarea {
  width: 100%;
}

/*        select {
            float: left;
            width: auto;
        }
    */

/* 2 Column (double page) settings */
.doublepage {
  background:#eee;		/* right column background colour */
}
.doublepage .colleft {
  right:50%;			/* right column width */
  background:#fff;		/* left column background colour */
}
.doublepage .col1 {
  width:46%;			/* left column content width (column width minus left and right padding) */
  left:52%;			/* right column width plus left column left padding */
}
.doublepage .col2 {
  width:46%;			/* right column content width (column width minus left and right padding) */
  left:56%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
/* column container */
.colmask {
  position:relative;	/* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%;			/* width of whole page */
  overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
  float:left;
  width:100%;			/* width of page */
  position:relative;
}
.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead
					only padding top and bottom is included here, make it whatever value you need */
  overflow:hidden;
}
/* 3 Column settings */
.threecol {
  background:#e7f7fe;		/* right column background colour */
}
.threecol .colmid {
  right:20%;			/* width of the right column */
  background:#ffffff;		/* center column background colour */
}
.threecol .colleft {
  right:60%;			/* width of the middle column */
  background:#e7f7fe;	/* left column background colour */
}
.threecol .col1 {
  width:56%;			/* width of center column content (column width minus padding on either side) */
  left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
  width:16%;			/* Width of left column content (column width minus padding on either side) */
  left:26%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
  width:16%;			/* Width of right column content (column width minus padding on either side) */
  left:90%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

/* 2- Column settings */
.container2 {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
  background:#fff7fe; /* column 2 background colour */
}
.container1 {
  float:left;
  width:100%;
  position:relative;
  right:50%;
  background:#e7f7fe; /* column 1 background colour */
}
.col21 {
  float:left;
  width:46%;
  position:relative;
  left:52%;
  overflow:hidden;
}
.col22 {
  float:left;
  width:46%;
  position:relative;
  left:56%;
  overflow:hidden;
}


.footer {
  font-size: 0.6em;
  align-content: center;
  clear: both;
}


select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  /*background-color: transparent;*/
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*   margin: 5px;
     border: 1px solid #ccc;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
      width: 150px;
      display:block;*/
}

.select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  /*width: 120px;*/
  border-radius: 3px;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
  background-color: #fff;

  background: #fff; /*url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;*/
}
.group {
  width: 100px;
}
.stimulus {
  line-height: 0;
  /*margin: auto; center the container */
}
.videos {
  width: 40%;
}
.pictures {
  width: 40%;
}
.txts {
  width: 30%;
  line-height:1.5;
}
/* dupicate in psychtoest.css
.sounds {
  width: 10%;
}
*/

.sound-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 5px;
  font: caption;
}
.sliderlabel {
  background: inherit;
  border: 0;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.ui-slider-wrapper { position: relative; }
.ui-slider-wrapper .ui-slider-horizontal { width: 100%; }

.ui-slider-labels { position: absolute; border: 1px solid transparent; }
.ui-slider-label-ticks { border: 1px solid transparent; position: absolute; white-space: nowrap; }
.ui-slider-label-ticks span { font-size: 0.9em; min-width: 1.2em; }

.ui-slider-wrapper.horizontal { height: 2.5em; }
.horizontal .ui-slider-labels { left: 0; right: 0; top: 0.7em }
.horizontal .ui-slider-label-ticks { width: 1.2em; height: .8em; text-align: center; border-left: 1px solid #999; }
.horizontal .ui-slider-label-ticks:first-child span { position: relative; display: inline-block; margin-left: 0px; top: 7px; }
.horizontal .ui-slider-label-ticks:last-child span { position: relative; display: inline-block; float:right; top: 7px; margin-right: 12px;}
.horizontal .ui-slider-label-ticks span { position: relative; display: inline-block; margin-left: -10px; top: 7px; }

.ui-slider-wrapper.vertical { width: 4.5em; }
.vertical .ui-slider-labels { top: 1px; bottom: 0; left: 0.7em; }
.vertical .ui-slider-label-ticks { height: 1.2em; width: 0.8em; border-bottom: 1px solid #999; }
.vertical .ui-slider-label-ticks span { position: relative; display: inline-block; margin-left: 1em; top: .6em; }

.videocontrols {position:relative;top:0px}
.videocontrolsfull {position:absolute;bottom:10px}

.eduresult {
  position: absolute;
  top: 0px;
  left: 10px;
  opacity: 0.8;
  background-color: lightgreen;
}
.eduresult:hover {
  opacity:0.1;
}



/* copy from psychotest */

/* DEFAULTS
----------------------------------------------------------*/

body
{
  padding: 5px;
}

a:link, a:visited
{
  color: #034af3;
}

a:hover
{
  color: #1d60ff;
  text-decoration: none;
}

a:active
{
  color: #034af3;
}

p
{
  margin-bottom: 10px;
  line-height: 1em;
}


/* HEADINGS
----------------------------------------------------------*/

/*h1, h2, h3, h4, h5, h6
{
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}
    */
.lefthead {
  float: left;
  font-size: 0.8em;
  font-weight: bold;
  color: #666688;
}
.righthead {
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  color: #666688;
}
h1
{
  font-size: 1.6em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2
{
  font-size: 1.5em;
  font-weight: 600;
}

h3
{
  font-size: 1.2em;
}

h4
{
  font-size: 1.1em;
}

h5, h6
{
  font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
  margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

table {
  /*table-layout: fixed; fixed variable layout for tgrid*/
  /*width:100%*/
}

.page
{
  /*width: 960px;*/
  background-color: #fff;
  margin: 20px auto 0px auto;
}

.header
{
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #4b6c9e;
  width: 100%;
}

.header h1
{
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  color: #f9f9f9;
  border: none;
  /*line-height: 2em;*/
  /*font-size: 1em;*/
}

.main
{
  padding: 0px 12px;
  margin: 12px 8px 8px 8px;
  /*min-height: 420px;*/
}

.leftCol
{
  padding: 6px 0px;
  margin: 12px 8px 8px 8px;
  /*width: 200px;
  min-height: 200px;*/
}

.footer
{
  color: #4e5766;
  padding: 8px 0px 0px 0px;
  margin: 0px auto;
  text-align: center;
  line-height: normal;
}


/* TAB MENU
----------------------------------------------------------*/

div.hideSkiplink
{
  background-color:#3a4f63;
  width:100%;
}

div.menu
{
  padding: 4px 0px 4px 8px;
}

div.menu ul
{
  list-style: none;
  margin: 0px;
  padding: 0px 200px;
  width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
  background-color: #465c71;
  border: 1px #4e667d solid;
  color: #dde4ec;
  display: inline-block;
  float: left;
  line-height: 1em;
  padding: 4px 20px;
  text-decoration: none;
  white-space: nowrap;
}

div.menu ul li a:hover
{
  background-color: #bfcbd6;
  color: #465c71;
  text-decoration: none;
}

div.menu ul li a:active
{
  background-color: #465c71;
  color: #cfdbe6;
  text-decoration: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/
fieldset
{
  padding-bottom: 3px;
  border: 1px solid #ccc;

}

fieldset p
{
  margin: 2px 12px 2px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
  display: block;
}

fieldset label.inline
{
  display: inline;
}

legend
{

  font-weight: 600;
  padding: 7px 0px 0px 0px;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -1em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,254,254);
  font-size   : 1em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.1em rgb(0,0,0);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,204,254),rgb(153,254,204));
  background-image :     -ms-linear-gradient(rgb(179,204,254),rgb(153,254,204));
  background-image :      -o-linear-gradient(rgb(179,204,254),rgb(153,254,204));
  background-image : -webkit-linear-gradient(rgb(179,204,254),rgb(153,254,204));
  background-image :         linear-gradient(rgb(179,204,254),rgb(153,254,204));
}


input.textEntry
{
  width: 320px;
  border: 1px solid #ccc;
}

input.passwordEntry
{
  width: 320px;
  border: 1px solid #ccc;
}

nav {
  float: left;
  padding-left: 2px; /*fix #212*/
  padding-right: 5px;
  /*    width: 10%; will depend on video or audio*/
}

div.accountInfo
{
  width: 42%;
}

/* MISC
----------------------------------------------------------
#preview {
  overflow: auto;
  max-width: 65em;
  margin: auto;
  border: 1px solid #ccc;
  border-radius:4px;

  user-select: none;
  -ms-user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}*/

.clear
{
  clear: both;
}

.title
{
  display: block;
  float: left;
  text-align: left;
  width: auto;
}
/* tooltip for educational mode*/
.tooltip {
  position: relative;
}
.tooltip > div {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  width: 250px;

}
.tooltipContent {
  background-color: #ddddff;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 2px;
}

.tablefirst {
  width:50%;
}
.tablesecond {
  width:50%;
}

td.task {
  width:50%;
}

taskscale,taskedit,ranking2d,taskvalues {
  display:inline-block;
}